<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<header th:replace="layout :: logged-in">
</header>
<form  method="post" th:action="@{/createPost}">
    <div>
    <label for="title">Title :</label>
    <input type="text" id="title" name="title"/>
    </div>
    <div>
    <label for="content">content :</label>
        <textarea rows="7" cols="100"  id="content" name="content"></textarea>
    </div>
    <div>
        <input type="checkbox" name="javaBlog" value="javaBlog"/>Java Blog
        <input type="checkbox" name="springBlog" value="springBlog"/>Spring Blog
    </div>
    <input type="submit" value="Create Post">
</form>
</body>
</html>